@charset "UTF-8";

@font-face {
    font-family: 'Cordelina';
    src: url('../fontes/cordelina.otf') format('opentype');
}

@font-face {
    font-family: 'Sertao';
    src: url('../fontes/Carnevalee\ Freakshow.ttf') format('truetype');
}

@font-face {
    font-family: 'Retro';
    src: url('../fontes/FulldayDemoSemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Passion One';
    src: url('../fontes/PassionOne-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2? family= Shantell+Sans & display=swap');

:root {
    --fonte1: 'Cordelina';
    --fonte2: 'Shantell Sans', cursive;
    --fonte3: 'Sertao';
    --fonte4: 'Retro';
    --fonte5: 'Passion One';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte2);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte1);
    font-size: 9vw;
    padding: 30px;
}

p.autor {
    text-align: right;
    font-family: var(--fonte4);
    font-size: 3.5vw;
    padding-bottom: 30px;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
    padding: 10px;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 35px;
    font-size: 3vw;
    font-weight: bold;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
    display: inline-block;
    padding: 5px;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.77);
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    font-family: var(--fonte3);
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(205, 192, 192);
}

footer a:hover {
    text-decoration: underline;
}