@charset "UTF-8";

@font-face {
    font-family: 'Cordelina';
    src: url('../fontes/cordelina.otf') format(opentype);
}

@font-face {
    font-family: 'Sertao';
    src: url('../fontes/Carnevalee\ Freakshow.ttf') format(truetype);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Cordelina';
    padding: 30px;
}

p.autor {
    text-align: right;
    font-family: 'Sertao';
}