@charset "UTF-8";

@font-face {
    font-family: 'Cordelina';
    src: url('../fontes/cordelina.otf') format(opentype);
}

@font-face {
    font-family: 'Sertao';
    src: url('../fontes/Carnevalee\ Freakshow.ttf') format(truetype);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Cordelina';
    padding: 30px;
}

p.autor {
    text-align: right;
    font-family: 'Sertao';
    padding-bottom: 30px;
}

header a {
    color: rgb(205, 192, 192);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 35px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
    width: 400px;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.77);
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    font-family: 'Cordelina';
    text-decoration: none;
    font-weight: bolder;
    color: rgb(205, 192, 192);
}

footer a:hover {
    text-decoration: underline;
}