@charset "UTF-8";

@font-face {
    font-family: 'Cordelina';
    src: url('../fontes/cordelina.otf') format('opentype');
}

@font-face {
    font-family: 'Sertao';
    src: url('../fontes/Carnevalee\ Freakshow.ttf') format('truetype');
}

@font-face {
    font-family: 'Retro';
    src: url('../fontes/FulldayDemoSemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Passion One';
    src: url('../fontes/PassionOne-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2? family= Shantell+Sans & display=swap');

:root {
    --fonte1: 'Cordelina';
    --fonte2: 'Shantell Sans', cursive;
    --fonte3: 'Sertao';
    --fonte4: 'Retro';
    --fonte5: 'Passion One';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte2);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: inset 6px 6px 13px 6px rgba(0, 0, 0, 0.789);
}

header > h1 {
    font-family: var(--fonte1);
    font-size: 9vw;
    padding: 30px;
    color: rgb(154, 77, 77);
}

p.autor {
    text-align: right;
    font-family: var(--fonte4);
    font-size: 3.5vw;
    padding-bottom: 30px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    background-color: black;
    padding: 10px;
}

header a:hover {
    text-decoration: underline;
    color: rgb(154, 77, 77);
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 35px;
    font-size: 3vw;
    font-weight: 500;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.353);
    color: white;
    display: inline-block;
    padding: 5px;
    text-shadow: 1.5px 1.5px 0px black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.77);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.742);
}

header#img01 {
    background-image: url('../imagens/nick-night-FsmPtlaaud8-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02 {
    background-image: url('../imagens/aliis-sinisalu-yzVxz_OYVxU-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section#img03 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#final {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.871);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer a {
    box-shadow: inset 6px 6px 13px 6px rgba(0, 0, 0, 0.786);
    font-family: var(--fonte3);
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    color: rgb(154, 77, 77);
}